@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --container-width: 1270px;
  --container-padding: 15px;
  --secondary: rgba(15, 31, 28, 0.5);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f6f6f6;
  color: #0f1f1c;
}

.none {
  display: none !important;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

.container-right {
  padding-left: calc(
    (100% - var(--container-width)) / 2 + var(--container-padding)
  );
}

.container-left {
  padding-right: calc(
    (100% - var(--container-width)) / 2 + var(--container-padding)
  );
}

.block {
  height: 200px;
  background-color: aquamarine;
}

/* header */

.header {
  position: relative;
  min-height: 940px;
  padding-top: 44px;
  background: linear-gradient(132deg, #428e5f 0%, #112120 100%);
  color: white;
}
.header a {
  color: white;
}

.header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 96px;
  background-image: url("./../img/header/header-bottom.svg");
  background-size: 100%;
}

.header__top {
  margin-bottom: 86px;
}

.header__content {
  max-width: 592px;
  background-color: chocolate;
}

/* nav */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 80px;
}

.nav__logo {
}

.nav__list {
  display: flex;
  column-gap: 80px;
  font-size: 15px;
  font-weight: 500;
}

.nav__list a {
  position: relative;
}

.nav__list a.active::after,
.nav__list a:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  display: block;
  /* width: 35px; */
  right: 10px;
  height: 4px;
  border-radius: 100px;
  background-color: #c4c4c4;
}

.nav__login {
  display: flex;
  align-items: center;
  column-gap: 25px;
  font-size: 15px;
  font-weight: 500;
}

.logo {
  font-size: 20px;
  font-weight: 700;
}

.logo a {
  color: inherit;
}

/* button */

.btn {
  display: inline-block;
  padding: 13px 44px;
  border-radius: 100px;
  font-size: 15px;
  font-weight: 500;
  background: linear-gradient(
    180deg,
    rgb(255, 123.4, 77.56) 0%,
    rgb(255, 88.21, 77.56) 100%
  );
}

.btn:hover {
  color: yellow;
}

.btn:active {
  position: relative;
  top: 1px;
}

/* header content */

.header__badge {
  display: inline-block;
  padding: 12px 30px;
  margin-bottom: 7px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.25);
  font-weight: 500;
  font-size: 18px;
}

.header__title {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 55px;
}

.header__text {
  margin-bottom: 68px;
  font-size: 25px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
}

.header__btn {
  display: inline-block;
  padding: 27px 48px;
  border-radius: 27px;
  font-size: 25px;
  font-weight: 600;
  background: linear-gradient(
    180deg,
    rgb(255, 123.4, 77.56) 0%,
    rgb(255, 88.21, 77.56) 100%
  );
}

.header__btn:hover {
  color: yellow;
}

.header__btn:active {
  position: relative;
  top: 1px;
}